.return-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
  margin-bottom: 10px;
}

.return-btn:hover {
  background-color: #45a049; /* Darker green */
}
